.main{
  min-height: 100vh;
   height: max-content;
   background-color: rgb(172, 170, 170);
   display: flex;
   justify-content: center;
   align-content: flex-start;
   padding: 2% 1%;
}

nav {
  background-color: black;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  position: fixed;
  padding: 0.5rem 5%;
  top: 0%;
  left: 0%;
  right: 0%;
}
nav p{
  font-size: 1.5rem;
  font-weight: 500;
}
.row { 
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw; 
  padding: 5rem 3rem;
  max-width: 100%;
  background-color: #cfcdcd;
  gap: 2%; 
}
footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  position: fixed;
  padding: 1% 5%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}
footer p{
  font-size: 1.5rem;
  font-weight: 500;
}